* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(236, 156, 126);
}
.fff {
    width: 100%;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photo_2023-02-10_13-30-23.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header {
    display: flex;
    color: #fff;
    justify-content: space-around;
}
header .h111 {
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
}
header .h111 p {
    /* margin-top: 00px; */
    margin: 20px;
    font-size: 3rem;
    color: #fff;
    
}
header .h111 p:hover {
   text-shadow: 5px 5px 10px white;
   transform: translateY(-5px);
   transition: 0.5s;
}

header h1 {
    letter-spacing: 2px;
    color: #fff;
    font-size: 2rem;
    animation: h1-1 5s infinite linear;
    text-transform: uppercase;
    margin-right: 150px;
}

header h1 a{
    letter-spacing: 2px;
    color: #fff;
    font-size: 2rem;
}
header h1 a:hover {
     border-bottom: 2px solid white;
}
.masalliq {
    margin-top: 200px;
    background-color: #fff;
    width: 800px;
    height: 700px;
    box-shadow: 10px 10px 15px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 300px;
    border-radius: 10px;
   
}
.masalliq ul li {
    font-size: 2.2rem;
    margin: 10px;
}
.tayyorlash {
    text-align: center;
    margin: 50px;
}
.tayyorlash h1{
    font-size: 3rem;
}
.tayyorlash h2 {
    font-size: 2.5rem;
}
.tayyorlash p {
    font-size: 2rem;
    word-spacing: 5px;
}
.tayyorlash h1, h2, p {
    margin: 10px;
}
.tayyorlash img {
    width: 90%;
}